@import "tailwindcss";

/* Global theme */
body {
  background-color: #0a0a0a;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: none;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}